/* src/App.css */

.app-container {
  display: flex;
  flex-direction: column;
  height: 1800vh;
  background: #f9f9f9;
  font-family: Arial, sans-serif;
}

.header {
  display: flex;
  gap: 20px;
  padding: 20px;
  background-color: #007aff;
  color: white;
  justify-content: center;
}

.nav-button {
  padding: 10px 20px;
  border-radius: 12px;
  text-decoration: none;
  color: white;
}

.nav-button.active {
  opacity: 0.5;
}
